[core]
    excludesFile = ~/.gitignore
    editor = "subl -w"
[credential]
    helper = store
[init]
    defaultBranch = main
[user]
    name = 김예환 Ye-Hwan Kim (Sam)
    email = yehwankim23@gmail.com
